{% extends 'master.html' %}
{% load static %}
{% block title %}About page{% endblock %}
{% block content %}

    <h1 class="pro1">About Us</h1>
    <p id="para">Welcome to <span class="smtshp"> Smart Shop</span>, your ultimate destination for smart products designed to make life easier, smarter, and more connected.

        At [Your Shop Name], we believe in the power of innovation. Our mission is to bring you the latest and most advanced smart technology products that enhance your daily experiences. From smart home devices, wearable tech, and electronics, to gadgets and accessories, we provide carefully curated solutions to help you live smarter, work more efficiently, and stay ahead of the curve.
        
        Our Vision</p>

{% endblock %}

    
  