{% extends 'master.html' %}
{% load static %}
{% block title %}Checkout page{% endblock %}
{% block content %}
<h2 class="pro1">Checkout</h2><br><br><br>
<div class="container mt-3">
    <div class="row">
        <div class="col-sm-9">
            {% for x in order %}
            <div class="row my-2" style="background-color: white;">
                <div class="col-sm-4">
                    <div class="inbox1">
                        <img src="/media/{{x.order_image}}" alt=""  height="100px">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="span3">
                        <span> {{x.order_name}}</span>
                    </div>

                    <div class="span3">
                        <span>price = {{x.order_price}}</span>
                    </div>

                    <div class="span3">
                        <span>
                            Quantity: {{x.order_qty}}
                        </span>

                    </div>
                </div>
                    <div class="col-sm-4">
                        <div class="span3">
                            <span> {{x.order_amount}}</span>
                        </div>
                        <br>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-sm-3">
                <div style="background-color:white; min-height:200px; padding: 20px;">
                    {% if co == 0 %}
                    <!-- add address -->
                     <form action="/checkout" method="POST">
                        {% csrf_token %}
                        <label for="">Enter Address:</label>
                        <textarea name="dlv_adrs" id="" style=" height: 100px;"></textarea>
                        <label for="">Choose delivery type:</label>
                        <select name="dlv_type" id="">
                            <option value="cod">COD</option>
                            <option value="online">Online</option>
                        </select>
                        <button class="btn btn-success mt-3">Submit</button>
                     </form>
                     {% elif co == 1 %}
                     <!-- summery -->
                      Total Amount : {{tot}}
                      <br><br>
                      Shipping : {{shp}}
                      <br><br>
                      GST : {{gst}}
                      <br>
                      <hr>
                      <br>
                      Total : {{gtot}}
                      <br><br>
                      <a href="/confirmorder">
                        <button class="btn btn-success">Confirm order</button>
                      </a>
                    {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}