{% extends 'master.html' %}
{% load static %}
{% block title %}Confirmorder page{% endblock %}
{% block content %}

<div class="container text-center">
    <h1 class="text-success display-2 ">Your Order is Submitted Successfully</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis architecto repellat eum illo cumque veniam ex cum molestias vero itaque assumenda maxime, laborum aliquam aliquid optio, a quis sapiente? Officiis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis architecto repellat eum illo cumque veniam ex cum molestias vero itaque assumenda maxime, laborum aliquam aliquid optio, a quis sapiente? OfficLorem ipsum dolor sit amet consectetur adipisicing elit. Officiis architecto repellat eum illo cumque veniam ex cum molestias vero itaque assumenda maxime, laborum aliquam aliquid optio, a quis sapiente? Offic</p>
    <div class="text-center mt-4">
        <a href="/myorders">
            <button class="btn btn-dark">View your order list</button>
        </a>
    </div>
</div>
{% endblock %}