{% extends 'master.html' %}
{% load static %}
{% block title %}Home page{% endblock %}
{% block content %}
   <style type="text/css">
  html, body {
    margin: 0;
    padding: 0;
  }

  * {
    box-sizing: border-box;
  }

  .slider {
      width: 100%;
      margin: 100px auto;
  }

  .slick-slide {
    margin: 0px 0px;
  }

  .slick-slide img {
    width: 100%;
    
  }

  .slick-prev:before,
  .slick-next:before {
    color: black;
  }


  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
  }
  
  .slick-active {
    opacity: .5;
  }

  .slick-current {
    opacity: 1;
  }
  .s2{
    text-decoration: none;
  }
  .slidersec{
    margin-bottom:10px;
  }
  
</style>   
<!-- 
<style type="text/css">
  html, body {
    margin: 0;
    padding: 0;
  }

  * {
    box-sizing: border-box; 
  }

  .slidersec {
    margin-bottom: 10px;
  }

  .slider {
    width: 100%;
    margin: 100px auto;
  }

  .slick-slide {
    margin: 0;
    transition: all ease-in-out .3s;
    opacity: .2;
  }

  .slick-active {
    opacity: .5;
  }

  .slick-current {
    opacity: 1;
  }

  .slick-prev:before,
  .slick-next:before {
    color: black;
  }

  .slick-slide img {
    width: 100%;
    height: 200px; 
    margin: 20px;
  }

  .s2 {
    text-decoration: none;
  }

  @media (max-width: 768px) {
    .slider {
      margin: 50px auto;
    }
  }

  @media (max-width: 480px) {
    .slider {
      margin: 30px auto; 
    }

    .slick-slide {
      display: block;  
    }
  }
</style>  -->


<nav class="navbar navbar-expand-sm navbar-ligh bg-light">
  <div class="container-fluid">
    <a class="navbar-brand vv" href="javascript:void(0)">Smart Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon" style="color: white;" ></span>
    </button>
    <form class="d-flex">
      <input class="form-control me-2" type="text" placeholder="Search">
      <button class="btn btn-light" type="button">Search</button>
    </form>
    <div class="collapse navbar-collapse " id="mynavbar">
      <ul class="navbar-nav me-auto">
        <!-- <li class="nav-item box">
          <a class="nav-link box" href="/">Home</a>
        </li>
        <li class="nav-item box">
          <a class="nav-link box" href="/about">About</a>
        </li>
        <li class="nav-item box">
          <a class="nav-link box" href="/contact">Contact</a>
        </li> -->
        <!-- <li class="nav-item box"> -->
          <!-- <a class="nav-link box" href="/account">Account</a>
        </li> -->
<!-- 
         <li class="nav-item box">

          <div class="dropdown">
              <a class=" nav-link box dropbtn" href="/account" style="text-decoration: none;">Account</a>
            <div class="dropdown-content" style="float: right;">
              <a href="/wishlist" style="text-decoration: none;">Wishlist <span><i class="bi bi-suit-heart" iconv1></i></span></a>
              <a href="/cart" style="text-decoration: none;">Cart <span><i class="bi bi-cart"></i></span></a>
              <a href="#" style="text-decoration: none;">Link 3</a>
            </div>
    
          </div>
        </li> -->
 



        
        <!-- <li class="nav-item box">
          <a class="nav-link box" href="/addproduct">Addproduct</a>
        </li>
        <li class="nav-item box">
          <a class="nav-link box" href="/product">Product</a>
        </li>
        <li class="nav-item box">
          <a class="nav-link box" href="/addcategory">Addcategory</a>
        </li>
        <li class="nav-item box">
          <a class="nav-link box" href="/category">Category</a>
        </li>
        <li class="nav-item box">
          <a class="nav-link box bi-cart iconab" href="/cart">Cart</a>
        </li>
        <li class="nav-item box">
          <a class="nav-link box" href="/confirmorder">Confirmorder</a>
        </li>
        <li class="nav-item box">
          <a class="nav-link box" href="/myorders">Orders</a>
        </li>
        <li class="nav-item box">
          <a class="nav-link box" href="/checkout">Checkout</a>
        </li> -->
        <!-- <li class="nav-item box">
          <a class="nav-link box" href="/logout">Logout</a>
        </li> -->
        <li class="nav-item box">
          <a class="nav-link box" href="/login">Login</a>
        </li>
      
      
        
      

       <!-- <div class="ic"> 
        <span class="iconxy"> <a href="/wishlist"><i class="fa fa-heart" style="font-size:25px;color:rgb(255, 25, 25);"></i></a></span>
        <span class="iconxz"> <a href="/cart"><i class="fa fa-shopping-cart" style="font-size:25px;color: black;"></i></a></span>
      </div>  -->
     
      <li class="nav-item boxa justify-content-end">

        <div class="dropdown">
            <a class=" nav-link boxa dropbtn" href="/account" style="text-decoration: none; font-size: 25px; justify-content: end;">
              <i class="bi bi-person-circle center icper"></i>
            </a>
          <div class="dropdown-content" style="float: right;">
            <a href="/wishlist" style="text-decoration: none;">Wishlist <span><i class="bi bi-suit-heart" iconv1></i></span></a>
            <a href="/cart" style="text-decoration: none;">Cart <span><i class="bi bi-cart"></i></span></a>
            <a href="myorders" style="text-decoration: none;">Orders <span><i class="bi bi-box "></i></span></a>
          </div>
  
        </div>
      </li> 


      
    </ul>
      
    </div>
  </div>
</nav>

  
  
<!-- 
  
 Carousel -->
 
<div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div> 

  <!-- The slideshow/carousel -->
   <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images\pro.webp' %}" alt="Los Angeles" class="d-block "  style=" min-height:auto; width:100%;">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images\jea.webp' %}" alt="Chicago" class="d-block"  style=" min-height:auto; width:100%;">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images\gro.jpg' %}" alt="New York" class="d-block" style=" min-height:auto; width: 100%;">
    </div>
  </div> 

  <!-- Left and right controls/icons -->
   <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div> 





<!--  

<section class="sec3">
<div class="container-fluid">
  <div class="row"> 
    <h4></h4>
    {% for x in category1 %}
    <div class=" col ">
    <a href="/product?cid={{x.id}}" class="c1">
    <div class="inbox">
      <img class="card-image-top" src="/media/{{x.category_image}}" alt="" height="100%" width="100%" style="float: left;" >
    
              <div class="span1">
                  <span> <h4>{{x.category_name}}
                    </h4>
                  </span>
              </div>
          </div>
        </a>
      </div> 
      {% endfor %}
  </div>
</div>
</section>   -->


<section class="sec3">
  <div class="container-fluid mt-3">
    <h2>Special categories</h2>
    <h4 class="section-title"></h4>
    <div class="row">
      
      {% for x in category1 %}
       <div class="col-sm-2 col-xl-2 col-lg-2">  
            <a href="/product?cid={{x.id}}" class="c1" >
          <div class="inboxe1"> 
            <img class="card-image-top img-fluid" src="/media/{{x.category_image}}" alt="{{x.category_name}}">  
             <div class="span1">
              <h5>{{x.category_name}}</h5>
            </div> 
          </div>  
          <!-- <div class="span1">
            <h6>{{x.category_name}}</h6>
          </div> -->
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>  





<!-- 
<div class="container-fluid mt-3">
   <h2>Disscount sales</h2> 
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="inboxq1"> 
        <img src="{% static 'images\dress.webp' %}" alt="" width="100%" height="200px" >
      </div>
    </div>

<div class="col-sm-4 col-md-4 col-lg-4">
  <div class="inboxq1">
    <img src="{% static 'images\elect.jpg' %}" alt="" width="100%" height="200px">
  </div>
</div> 

<div class="col-sm-4 col-md-4 col-lg-4">
  <div class="inboxq1">
    <img src="{% static 'images\coes.png' %}" alt="" width="100%" height="205px">
  </div>
</div>

</div>
</div> -->

<div class="container-fluid mt-3">
  <h2>Discount Sales</h2> 
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="inboxq1"> 
        <img src="{% static 'images/dress.webp' %}" alt="Dress" class="img1-fluid" width="100%" height="200px">
      </div>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="inboxq1">
        <img src="{% static 'images/elect.jpg' %}" alt="Electronics" class="img1-fluid" width="100%" height="200px">
      </div>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="inboxq1">
        <img src="{% static 'images/coes.png' %}" alt="Coat" class="img1-fluid" width="100%" height="200px">
      </div>
    </div>
  </div>
</div>
<!-- 
<section class="slidersec">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <section class="center slider">
          {% for x in category %}
          <div>
            <a href="/product?cid={{x.id}}" class="c1">
              <div class="inboxbb">
                <img class="card1" src="/media/{{x.category_image}}" alt="" style="float: left;" height="100%" width="100%">
        
          </div>
            </a>
        </div>
          {% endfor %}      
      </div>
    </div>
  </div>
</section>  -->
<!-- 

<section class="sec7">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
        <div class="inboxc1">       
          <h5 class="hf">Shop deals in top categories</h5>
          <div class="im5">
            <img class="i7" src="{% static 'images\m44.png' %}" alt="" >
            <img class="i7" src="{% static 'images\el1.jpg' %}" alt="">
            <img class="i7" src="{% static 'images\ki.jpeg' %}" alt="">
            <img class="i7" src="{% static 'images\BY2.jpg' %}" alt="">
            <img class="i7" src="{% static 'images\ma.jpg' %}" alt="">
            <img class="i7" src="{% static 'images\g2.jpg' %}" alt="">
             
          </div>

        </div>
      </div>
    </div>
  </div>

</section> -->

     
 

  <div class="container-fluid mt-3">
    <h2>Best Deal Products</h2> 
  </div>
  <section class="sec6"> 

<div class="container-fluid">
  <div class="row">
        <div class=" col-lg-4 col-sm-6" >
          <div class="box6">
            <h5 class="hd">Best Deals on | <br>
            Kitchen Accessories</h5>
            <div class="im3">
            <img class="i4" src="{% static 'images\ward.jpg' %}"   alt="" height="150px" width="150px"   style="float: left; margin: 15px 10px;" >
            
            <img class="i4" src="{% static 'images\spoon.webp' %}" alt="" height="150px" width="150px"   style="float: left; margin: 15px 10px;">
            </div>
            <div class="im4">
              <img class="i4" src="{% static 'images\stock.webp' %}" alt="" height="150px" width="150px"   style="float: left; margin: 15px 10px;">
              <img  class="i4" src="{% static 'images\pan.jpg' %}" alt="" height="150px" width="150px"  style="float: left; margin: 15px 10px;">
              <p class="pa1">See all Offers</p> 
            </div>   
          </div>
          </div>  
    
       <!-- <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" >
      <div class="box7">
        <h5 class="hd">Best Style | <br>
        Fashions</h5>
        <div class="im3" >
          <img class="i5" src="{% static 'images\mw.jpg' %}" alt="" height="150px" width="150px" style="float: left; margin: 10px 10px;">
          <img class="i5" src="{% static 'images\jn.jpg' %}" alt="" height="150px" width="150px"style="float: left; margin: 10px 10px;">
          </div>
          <div class="im4">
            <img class="i5" src="{% static 'images\fes.webp' %}" alt="" height="150px" width="150px" style="float: left;  margin: 10px 10px; ">
            <img class="i5" src="{% static 'images\cas.jpg' %}" alt="" height="150px" width="150px"style="float: left; margin: 10px 10px;">
            </div>
            style="float: left; margin: 15px 10px;
      </div>
      </div>  -->

      <div class="col-lg-4 col-sm-6" >
        <div class="box7">
          <h5 class="hd">Best Style | <br>
          Fashions</h5>
          <div class="im3">
          <img class="i4" src="{% static 'images\mw.jpg' %}"   alt="" height="150px" width="150px"  style="float: left; margin: 15px 10px;">
          
          <img class="i4" src="{% static 'images\jn.jpg' %}" alt="" height="150px" width="150px" style="float: left; margin: 15px 10px;">
          </div>
          <div class="im4">
            <img class="i4" src="{% static 'images\fes.webp' %}" alt="" height="150px" width="150px" style="float: left; margin: 15px 10px;">
            <img  class="i4" src="{% static 'images\cas.jpg' %}" alt="" height="150px" width="150px" style="float: left; margin: 15px 10px;">
            
          </div>   
          <p class="pa1">See all Offers</p>  
        </div>
  </div>

      <div class="col-lg-4 col-sm-6">
        <div class="box8">
          <h5 class="hd">Best Deals On | <br>
          Smart Phones</h5>
          <div class="im3" >
            <img class="i5" src="{% static 'images\iph15.webp' %}" alt="" height="150px" width="150px" style="float: left;  margin: 15px 10px;">
            <img class="i5" src="{% static 'images\iqooz9.webp' %}" alt="" height="150px" width="150px"style="float: left;  margin: 15px 10px;">
            </div>
            <div class="im4">
              <img class="i5" src="{% static 'images\oneplus.webp' %}" alt="" height="150px" width="150px" style="float: left; margin: 15px 10px; ">
              <img class="i5" src="{% static 'images\sam.webp' %}" alt="" height="150px" width="150px"style="float: left; margin: 15px 10px;">
              </div>
              <p class="pa1">See all Offers</p>  
        </div>
        </div>

         <!-- <div class="col-lg-4">
          <div class="box9">
            <h5 class="hd">Home Appliances</h5>
            <div class="im3">
              <img  class="i6" src="{% static 'images\h1.jpg' %}" alt="" height="300px" width="250px" style="padding-top: 50px;">
            </div>
          </div>
        </div>  -->

    </div> 
</div>
</section> 



<section>
  <div class="container-fluid">
    <div class="row">
      <h3 class="min">Min 50% Offers</h3>
      <h5>This Products</h5>
      <div class="col-sm-4" >
        <div class="box4">
          <div class="im1">
      ,   <img  class="pic" src="{% static 'images\hou.jpg' %}"   alt="" height="200px" width="150px" style="float: left; margin: 8px 8px;">
            <img  class="pic" src="{% static 'images\san.webp' %}" alt="" height="200px" width="150px"style="float: left; margin: 8px 8px;">
            </div>
            <div class="im2">
              <img class="pic" src="{% static 'images\tr.avif' %}" alt="" height="200px" width="150px" style="float: left; margin: 8px 8px;">
              <img class="pic" src="{% static 'images\wall.avif' %}" alt="" height="200px" width="150px"style="float: left; margin: 8px 8px;">
              </div>
          </div>
        </div>   
      <div class="col-sm-8">
        <img src="{% static 'images\tops.webp' %}"   alt="" height="100%" width="100%" style="float: left;" >
       
      </div>
      </div>
    </div>
</section> 



 


   <!-- -------footer------ -->
   <div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download our app</h3>
                <p>Top G5  Enabled Prodcuts with good support</p>
                <div class="app-logo">
                    <img src="{% static 'images\play.png' %}" alt="">
                    <img src="{% static 'images\app.jpg' %}" alt="">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="images" alt="">
                <!-- <p>Best technology enabled product?</p> -->
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>ABOUT US</h3>
                <ul>
                    <li><a href="/contact" style="text-decoration: none; color:#8a8a8a;">Contact Us</a></li>
                    <li><a href="/about" style="text-decoration: none; color:#8a8a8a;">About</a></li>
                   
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">© 2024 smartshop.com</p>
    </div>
</div>


      <!-- <div class="col-sm-3">
        <div class="boxa6">
          <div class="im3">
            <img src="{% static 'images\fash.jpg' %}" alt="" style="height: 100px; width: 100px; float: left; border-radius: 50px; margin: 20px 50px; ">
            <img src="{% static 'images\fash.jpg' %}" alt="" style="height: 100px; width: 100px; float: left; border-radius: 50px; margin: 20px 20px; ">    
            <img src="{% static 'images\fash.jpg' %}" alt="" style="height: 100px; width: 100px; float: left; border-radius: 50px; margin: 20px 10px; ">
            <img src="{% static 'images\fash.jpg' %}" alt="" style="height: 100px; width: 100px; float: left; border-radius: 50px; margin: 20px 10px; ">       
          </div>
        </div>
      </div> -->
<!-- 
      <div class="col-sm-3">
        <div class="boxa6">
          <div class="im3">
            <img src="{% static 'images\fash.jpg' %}" alt="" style="height: 100px; width: 100px; float: left; border-radius: 50px; margin: 20px 10px; ">
            <img src="{% static 'images\fash.jpg' %}" alt="" style="height: 100px; width: 100px; float: left; border-radius: 50px; margin: 20px 10px; ">          
          </div>
        </div>
      </div> -->
    


{% endblock %}           

  






  

   
          